# bootanim.te

allow bootanim device:chr_file { getattr ioctl open read write };
allow bootanim mediaserver_exec:file { getattr read };
allow bootanim sysfs:dir { open read };
allow bootanim system_data_file:dir search;
allow bootanim userspace_reboot_exported_prop:file { getattr open read };
allow bootanim video_device:chr_file rw_file_perms;
