#============= init ==============
allow init block_device:blk_file write;
allow init default_android_service:service_manager add;
allow init device:chr_file rw_file_perms;
allow init dnsproxyd_socket:sock_file write;
allow init efs_file:dir mounton;
allow init fwmarkd_socket:sock_file write;
allow init gps_data_file:fifo_file write;
allow init gps_data_file:file { lock rename };
allow init hal_drm_clearkey_exec:file execute_no_trans;
allow init hal_drm_hwservice:hwservice_manager { add find };
allow init hal_drm_widevine_exec:file execute_no_trans;
allow init hal_fingerprint_hwservice:hwservice_manager { add find };
allow init hal_gatekeeper_hwservice:hwservice_manager { add find };
allow init hal_gnss_hwservice:hwservice_manager { add find };
allow init hal_light_hwservice:hwservice_manager { add find };
allow init hal_light_service:service_manager add;
allow init hal_lineage_fastcharge_hwservice:hwservice_manager { add find };
allow init hal_lineage_livedisplay_hwservice:hwservice_manager { add find };
allow init hal_power_hwservice:hwservice_manager { add find };
allow init hal_power_service:service_manager add;
allow init hidl_base_hwservice:hwservice_manager add;
allow init hwservicemanager:binder { call transfer };
allow init kernel:system module_request;
allow init netd:unix_stream_socket connectto;
allow init port:tcp_socket name_connect;
allow init proc:file setattr;
allow init proc:file write;
allow init ram_device:blk_file write;
allow init self:netlink_socket { bind create read };
allow init self:tcp_socket create_socket_perms;
allow init sensorservice_service:service_manager find;
allow init servicemanager:binder { call transfer };
allow init sysfs:file create_file_perms;
allow init sysfs_batteryinfo:lnk_file read;
allow init sysfs_bluetooth_writable:file setattr;
allow init sysfs_devices_system_cpu:file write;
allow init sysfs_sec_switch:lnk_file read;
allow init sysfs_sensor:lnk_file read;
allow init system_data_file:file lock;
allow init system_data_file:file lock;
allow init system_data_root_file:file rename;
allow init system_file:file execute_no_trans;
allow init system_file:file mounton;
allow init system_server:binder call;
allow init system_server:binder transfer;
allow init system_server:unix_stream_socket read;
allow init vendor_file:file execute_no_trans;
allow init vndbinder_device:chr_file rw_file_perms;

allow init {
    sysfs_batteryinfo
}:file setattr;