#============= cameraserver ==============
allow cameraserver device:chr_file rw_file_perms;
allow cameraserver media_rw_data_file:dir r_dir_perms;
allow cameraserver sysfs:file r_file_perms;
allow cameraserver unlabeled:dir r_dir_perms;
