#============= fsck ==============
allow fsck block_device:blk_file { ioctl open read write };
allow fsck_untrusted sysfs:file { getattr open read };
