#### macloader
#

init_daemon_domain(macloader)

allow macloader efs_file:dir search;
allow macloader self:capability { dac_override dac_read_search };
allow macloader wifi_efs_file:dir search;
allow macloader wifi_efs_file:file { getattr open read };
