#============= priv_app ==============
allow priv_app device:chr_file { ioctl read write };
allow priv_app sysfs:dir open;
allow priv_app sysfs:file { getattr open };

