#============= surfaceflinger ==============
allow surfaceflinger device:chr_file { getattr ioctl open read write };
allow surfaceflinger init:binder call;
allow surfaceflinger sysfs:dir { open read };

